*{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 0;
}

h1{
  font-size: 80px;
}

h2{
  font-size: 45px;
}
body{
  background-color: rgb(206, 109, 18);
}

input{
  background-color: white;
  color: black;
  margin-left: 1vw;
}

button{
  font-size: 40px;
  font-style: italic;
  border-color:rgb(0, 0, 0, 59%);
  border-style: double;
  cursor:pointer;
  background: radial-gradient(circle at center bottom, #c08020, #ff7300ac);
  display:block;
}

.generate{
  margin-top: 1vw;
}

.recipe{
  font-size: 30px;
}